/*
TODO: Comment 
TODO: Use Vars 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  overflow: hidden;
  background-color: #333232;
  color: #fff;
}

.universe-map {
  display: flex;
}

/* Action-Bar */

.action-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  bottom: 2px;
  z-index: 1;
  height: 140px;
}

.action-buttons {
  display: flex;
  align-items: flex-end;
  position: relative;
  right: -10px;
}

.tab {
  cursor: pointer;
  transition: background-color 0.3s ease;
  /*padding: 5px 5px;*/
  transform: skewX(-15deg);
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid #fff;
  margin: 2px 0;
  width: 180px;
  height: 35px;
  align-items: center;
  text-align: center;
  display: flex;
}

.tab:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Highlight on hover */
}

.icon {
  width: 40px;
  height: 40px;
  background-size: cover;
  margin: 0 auto 10px;
}

.tab-label {
  display: block;
  transform: skewX(15deg); /* Counter skew for text */
  text-align: center; /* Center-align the text */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflowing text */
  width: 180px;
}

.content-box {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  position: relative;
  height: 100%;
}

/* Header */

header {
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Add a background color to the header */
  padding: 5px; /* Add some padding for spacing */
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2; /* Ensure it's above other elements */
}

.settings-button {
  float: right; /* Float the button to the right within the header */
  margin-right: 20px; /* Add some margin for spacing */
}
