@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

@import './planet-tag.scss';

$custom-colors: (
  'actionBar': rgba(24, 24, 24, 0.7),
  'background': #08001f
);

$theme-colors: map-merge($theme-colors, $custom-colors);

/*
TODO: Comment 
TODO: Use Vars 
TODO: USE BOOTSTRAP
*/
* {
  font-family: Arial, sans-serif !important;
}

.right--10 {
  right: -10px;
}

.transform-skew--15 {
  transform: skewX(-15deg);
}

.transform-skew-15 {
  transform: skewX(15deg);
}

.btn-actionBar:not(.bg-selected):hover {
  background-color: rgba(255, 255, 255, 0.2) !important; /* Highlight on hover */
}

.bg-selected {
  background-color: rgba(15, 75, 145, 0.75) !important;
}

/* Add this CSS to your stylesheet */
.affiliation-label {
  white-space: nowrap; /* Prevents label from wrapping to the next line */
  flex-shrink: 0; /* Prevents label from shrinking */
  margin-right: 10px; /* Adjust as needed for spacing */
}

.affiliation-name {
  white-space: nowrap; /* Prevents long names from wrapping */
  overflow: hidden; /* Hides any overflow */
  text-overflow: ellipsis; /* Adds ellipsis (...) for long names */
  flex-grow: 1; /* Allows the name to expand and fill available space */
}

.hide {
  display: none !important;
}

/* Navigation on dashboard */
ul.nav a:hover:not(.active) {
  background-color: rgb(228, 228, 228) !important;
}

/* Header */

header {
  background-color: rgba(0, 0, 0, 0.5); /* Add a background color to the header */
  padding: 5px; /* Add some padding for spacing */
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2; /* Ensure it's above other elements */
}

.settings-button {
  float: right; /* Float the button to the right within the header */
  margin-right: 20px; /* Add some margin for spacing */
}

canvas:focus {
  outline-width: 0;
}

.resize-none {
  resize: none;
}

// Spinner
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
.lds-ring-light div {
  border: 8px solid #fff;
  border-color: #fff transparent transparent transparent;
}
.lds-ring-dark div {
  border: 8px solid #1f1f1f;
  border-color: #1f1f1f transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

*::-webkit-scrollbar {
  height: 12px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
  border: 3px solid white;
}

// Import all of Bootstrap's CSS
@import '~bootstrap/scss/bootstrap';
