.col-space-1 {
  min-width: 100px;
}

.col-space-2 {
  min-width: 150px;
}

.col-space-3 {
  min-width: 200px;
}

.col-space-4 {
  min-width: 250px;
}

.col-space-5 {
  min-width: 300px;
}

.col-space-6 {
  min-width: 350px;
}

.col-space-7 {
  min-width: 400px;
}
